<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <main>
        <h1>Instituto</h1>
        <nav>
            <a href="/cursos">Cursos</a>
            <a href="/estudiantes">Estudiantes</a>
        </nav>
    </main>
</body>

</html>